<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.uniproject.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.example.uniproject.pojo.Admin">
            <id property="adminId" column="admin_id" jdbcType="INTEGER"/>
            <result property="adminName" column="admin_name" jdbcType="VARCHAR"/>
            <result property="adminPwd" column="admin_pwd" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        admin_id,admin_name,admin_pwd
    </sql>
    <insert id="insert"></insert>
    <select id="searchAllByAdminId" resultType="java.lang.Integer"></select>
</mapper>
